// Задаём параметры width и height равными размерам блока, а не контента
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $font-color;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.wrap {
  background: url("../images/wrap-bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
ul, ol { margin: 0; padding: 0; list-style: outside none none; }
header { min-height: 115px; margin-bottom: 40px; background-color: $header-background-color; }
.header-container {
  max-width: 1200px;
  padding-right: 100px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;
}
.logo { float: left; padding-top: 25px; width: 250px; height: 60px; display: inline-block; }
.social { float: right; padding-top: 32px; display: inline-block; }
.social a { margin-right: 14px; }
.social a i:before { font-size: 54px; }
.social a i {
  color: #58697a;
  -webkit-transition: color 0.3s ease-out 0.5s;
  -moz-transition: color 0.3s ease-out 0.5s;
  -o-transition: color 0.3s ease-out 0.5s;
  transition: color 0.3s ease-out 0.5s;
}
.social a:hover i { color: $h-color; }
.container {
  margin: 0 auto;
  width: $desktop-container;
  height: 100%;
}
.container:before, .container:after {
  display: table;
  content: " ";
}
.container:after { clear: both; }
.main {}
.sidebar {
  float: left;
  width: $desktop-sidebar-width;
  background: none;
}
.sidebar-menu {
  background-color: $sidebar-background-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.nav {
  padding-left: 0;
  list-style: none;
}
.nav > li {
  display: block;
  padding-left: 10px;
  line-height: 73px;
  font-size: 21px;
  height: 73px;
}
.nav > li:first-child {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav > li:last-child {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.nav > li.active {
  background-color: $h-color;
  font-size: 23px;
}
.nav > li > a {
  display: inline-block;
  color: $h-color;
  border-bottom: 2px solid $h-color;
  padding-left: 18px;
  min-width: 230px;
 }
.nav > li.active > a {
  border-bottom: 0 solid $h-color;
  color: #ffffff;
}
.nav > li.active:first-child > a {
  border-bottom: 0 solid $h-color;
}
.nav > li:last-child > a {
  border-bottom: 0 solid $h-color;
}
.contacts {
  margin-top: 24px;
  background-color: $sidebar-background-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.contacts i { margin-right: 20px; }
.contacts h2 {
  color: #ffffff;
  background-color: $h-color;
  font-size: 21px;
  line-height: 40px;
  height: 40px;
  margin: 0;
  padding-left: 20px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.mail {
  color: #ffffff;
  background-color: #41b9d4;
  padding-left: 42px;
  line-height: 40px;
  height: 40px;
}
.phone {
  color: #ffffff;
  background-color: #48cbe8;
  padding-left: 42px;
  line-height: 40px;
  height: 40px;
}
.skype {
  color: #ffffff;
  background-color: #51daf8;
  padding-left: 42px;
  line-height: 40px;
  height: 40px;
}
.content {
  float: right;
  width: $desktop-content-width;
  background-color: $content-background-color;
}
.block {
  float: left;
  width: 100%;
  background-color: $block-background-color;
  padding-bottom: 46px;
  margin-bottom: 24px;;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
// Убираем нижний отступ у самого нижнего блока
.block:last-child { margin: 0; }
.block h2 {
  float: left;
  display: inline-block;
  font-size: 27px;
  margin-top: 9px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  color: $h-color;
  border-bottom: 2px solid $h-color;
}
.info { float: left; width: 100%; }
.avatar { float: left; padding-left: 55px; padding-top: 30px; height: 210px; width: 210px; }
.avatar img { border: 4px solid $h-color; }
.info-main { float: left; padding-left: 18px; padding-top: 8px; }
.row span { float: left; font-weight: bold; margin-right: 16px; }
.info-main .row { line-height: 33px; }
.subrow { float: left; margin-left: 28px; }
ul.skill { float: left; width: 230px; list-style: outside none none; }
ul.skill li {
  display: inline-block;
  height: 19px;
  line-height: 19px;
  font-size: 14px;
  font-family: "ProximaNovaCond-Semibold";
  color: #ffffff;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-right: 8px;
  background-image: -moz-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  background-image: -o-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  background-image: -webkit-linear-gradient(bottom, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  background-image: linear-gradient(to top, #2E8CA2 0%, #2E8CA2 52%, #3BA8C0 53%, #3BA8C0 100%);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.info.skills div.row img { float: left; }
.info.skills .row { padding-left: 58px; margin-top: 20px; float: left; }
footer { height: 78px; margin-top: 20px; background-color: $footer-background-color; }
.auth img { margin-top: 22px; }
.copyright { width: 600px; text-align: center; line-height: 78px; }

/* Мои работы */
.works { min-height: 840px; }
.works-list { float: left; width: 100%; margin-top: 28px; }
.works-list ul { margin-left: 20px; }
.works-list ul li { display: inline-block; margin-right: 30px; }
.works-list ul li:last-child { margin: 0; }
.works-list ul li a.preview img {
  margin: 0;
  padding: 0;
  height: 130px;
  width: 180px;
  border: 2px solid $h-color;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 1;
}
.work-tip {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 130px;
  line-height: 130px;
  text-align: center;
  width: 180px;
  background: none repeat scroll 0 0 $h-color;
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.work-tip:hover { color: #ffffff; opacity: 0.8;  }
.work-tip span {
  font-family: "Fira Sans Book";
  font-size: 12px;
  text-align: center;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 2px;
  color: #fff;
}
.works-list ul { margin-bottom: 48px; }
.works-list ul li a.link {
  font-family: "Fira Sans";
  font-size: 13px;
  font-weight: 300;
  font-style: italic;
}
.works-list ul li {
  vertical-align: top;
}
.site-info {
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  text-align: center;
}
.works-list ul li.add-work:hover {
  background: none repeat scroll 0 0 #ceecf7;
}
#add-work {
  cursor: pointer;
  height: 130px;
  width: 180px;
  background: none repeat scroll 0 0 #edf8fc;
  border: 1px dashed #3ba8c0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#add-work img {
  height: 32px; width: 32px; display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}
#add-work span {
  display: block;
  width: 100%;
  color: $h-color;
  font: 13px "Fira Sans";
  font-style: normal;
  text-align: center;
  margin-top: 13px;
}
.messi-content {
  background: none repeat scroll 0 0 #eff3f7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.messi-content form {
  padding: 7px 22px 25px;
}
.messi-content form label {
  color: #959aa8;
  font: 17px "Fira Sans Book";
}
.messi-content form p {
  height: 47px;
  margin-bottom: 8px;
  position: relative;
}
.messi-content form input, .messi-content form textarea {
  border: 1px solid #48cbe8;
  border-radius: 3px;
  color: #48cbe8;
  display: inline-block;
  font: 13px "Fira Sans";
  margin-bottom: 8px;
  margin-top: 4px;
  padding: 10px 9px;
  width: 300px;
}
.messi-content form .buttons {
  text-align: center;
}
.messi-content form .buttons button {
  background: none repeat scroll 0 0 #48cbe8;
  border: 0 none;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #3ba8c0;
  color: #fff;
  cursor: pointer;
  font: 19px "Fira Sans Book";
  letter-spacing: 1px;
  padding: 5px 4px;
  width: 138px;
}
.messi-content form p span#upload-picture {
  background: url("../images/upload-picture.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  cursor: pointer;
  display: inline-block;
  float: right;
  height: 41px;
  position: absolute;
  right: 0;
  top: 5px;
  width: 52px;
}

/* Связаться со мной */
.contact-me {
    background: none repeat scroll 0 0 #eff3f7;
    margin-bottom: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.contact-me h2 {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background: none repeat scroll 0 0 #48cbe8;
  border-bottom: 17px solid #67dffa;
  color: #fff;
  font: 27px "Fira Sans Book";
  padding: 46px 10px;
  margin: 0;
  text-align: center;
}
.contact-me form {
  margin: 34px auto 0;
  width: 398px;
}
.name-mail { display: inline-block; }
.contact-me form .input {
  float: left;
  width: 190px;
}
.contact-me form .input input {
  border: 1px solid #48cbe8;
  border-radius: 4px;
  color: #48cbe8;
  font: 13px "Fira Sans";
  padding: 9px;
  width: 192px;
}
.contact-me form .input:first-child {
  margin-right: 18px;
}
.contact-me form .textarea {
  margin-top: 10px;
  display: block;
}
.contact-me form .textarea textarea {
  border: 1px solid #48cbe8;
  border-radius: 4px;
  min-height: 183px;
  padding: 9px;
  width: 403px;
}
.contact-me form .capture {
  margin-top: 9px;
  width: 402px;
}
.contact-me form .capture img {
  border: 1px solid #48cbe8;
  border-radius: 3px;
  float: left;
  width: 160px;
}
.contact-me form .buttons {
  margin-top: 38px;
  width: 401px;
}
.contact-me form .buttons button {
  background: none repeat scroll 0 0 #48cbe8;
  border: 0 none;
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #3ba8c0;
  color: #fff;
  cursor: pointer;
  float: left;
  font: 19px "Fira Sans";
  letter-spacing: 1px;
  width: 140px;
}
.contact-me form .buttons button:last-child {
  background: none repeat scroll 0 0 #849db5;
  box-shadow: 0 2px 0 0 #687b8f;
  float: right;
}